._drag-handle:active {
  border: #3500FF dashed 2px;
}

div.scroll-list {
  overflow: auto;
  max-height: 70vh;
}
.drag-over {
  border: #ff525b dashed 2px;
}
.drag-hint {
  border: #ffc100 dashed 2px;
}
.drag-target-border {
  border: #00bfff dashed 2px;
}
.drag-target-border-green {
  border: #3c763d dashed 2px;
}

mat-card {
  padding: 0px;
  margin: 1px;
}
.tv-title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0px 10px 0px !important;
  text-align: center;
}
.day {
  width: 80px;
}
.row {
  margin: 0px;
}
.show-well {
  font-size: 14px;
  padding: 5px;
}
.show {
  margin: 0px;
  border: 1px;
  padding: 1px;
}
.timeslot-header {
  margin: 0px;
  padding: 2px;
  width: 300px;
  text-align: center;
  font-weight: bold;
}
.timeslot {
  margin: 3px;
  padding: 0px;
  min-height: 52px;
  width: 302px;
  background-color: #E0E0E0;
}
@media (max-width: 1045px) {
  #tv-schedule {
    width: 412px;
  }
}
