<div fxLayoutAlign="space-around center">
  <div fxLayout="row wrap">
    <div id="tv-schedule" class="schedule-container" fxLayout="column">
      <mat-card>
        <div fxLayout="row" class="schedule-card header">
          <div class="day-header">Day</div>
          <div class="timeslot-header">8:00 pm</div>
          <div class="timeslot-header">9:00 pm</div>
          <div class="timeslot-header">10:00 pm</div>
        </div>
      </mat-card>
      <mat-card *ngFor="let day of schedule">
        <div fxLayout="row" class="schedule-card">
          <div class="day-header">{{ day.name }}</div>
          <div cdkDropList (cdkDropListDropped)="onAnyDrop($event)"
            [id]="time.slot" class="timeslot width" *ngFor="let time of day.time"
            [cdkDropListConnectedTo]="dropListIdArray">
            <div *ngFor="let show of timeSlots[getTSIdx(time.slot)]?.shows"
              cdkDrag [cdkDragData]="show" class="show">
              <app-show [show]="show"></app-show>
              <div class="show-placeholder" *cdkDragPlaceholder></div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div id="shows-between" class="schedule-container">
      <mat-card class="shows-between">
        <div class="shows-card">
          <div class="shows-header">Shows Between Seasons</div>
          <div cdkDropList (cdkDropListDropped)="onAnyDrop($event)"
            id="SBS" class="timeslot div-scroll"
            [cdkDropListConnectedTo]="dropListIdArray">
            <div *ngFor="let show of timeSlots[getTSIdx('SBS')]?.shows"
              cdkDrag [cdkDragData]="show" class="show" [cdkDragDisabled]="show.name == ''">
              <app-show [show]="show"></app-show>
              <div class="show-placeholder" *cdkDragPlaceholder></div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div id="shows-ended" class="schedule-container" [ngStyle]="{ 'display': (showEndedShows ? 'block' : 'none') }">
        <mat-card class="shows-ended">
          <div class="shows-card">
            <div class="shows-header" fxLayout="row" fxLayoutAlign="space-evenly center">
              <span>Ended Shows</span>
              <mat-slide-toggle [checked]="lockEndedShows" (change)="toggleClicked()" color="primary">{{ lockEndedShows ? 'Locked' : 'Unlocked' }}</mat-slide-toggle>
            </div>
            <div cdkDropList (cdkDropListDropped)="onAnyDrop($event)"
              id="END" class="timeslot div-scroll" [cdkDropListDisabled]="lockEndedShows"
              [cdkDropListConnectedTo]="dropListIdArray">
              <div *ngFor="let show of timeSlots[getTSIdx('END')]?.shows"
                cdkDrag [cdkDragData]="show" class="show" [cdkDragDisabled]="show.name == ''"
                [ngClass]="{ 'no-move': lockEndedShows }">
                <app-show [show]="show"></app-show>
                <div class="show-placeholder" *cdkDragPlaceholder></div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
</div>
