/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html {
  height: 100%;
}

body {
  background-image: url('../src/assets/images/tv.gif');
  background-repeat: no-repeat;
  min-width:100%;
  width:100%;
}
